﻿@model TelefonRehberi.ViewModels.PersonelVM

@{
    ViewBag.Title = "Personel Detay";
}

<h2>Personel Detay - @Model.PersonelAdi @Model.PersonelSoyadi</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            Personel Adı:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelAdi)
        </dd>

        <dt>
            Personel Soyadı:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelSoyadi)
        </dd>

        <dt>
            Telefon Numarası:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelTelefon)
        </dd>

        <dt>
            Dahili:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dahili)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Lokasyon:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokasyon)
        </dd>

        <dt>
            Firma:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firma)
        </dd>

        <dt>
            Departmanı:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departman)
        </dd>

        <dt>
            Yöneticisi:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yonetici)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Personel Listesine Git", "Index")
</p>
