﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse" style="border-radius: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Telefon Rehberi</a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Personel<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("PersonelListele", "Admin")">Personel Listesi</a></li>
                            <li><a href="@Url.Action("PersonelEkle", "Admin")">Personel Ekle</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departman<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("DepartmanListesi", "Admin")">Departman Listesi</a></li>
                            <li><a href="@Url.Action("DepartmanEkle", "Admin")">Departman Ekle</a></li>
                        </ul>
                    </li>
                </ul>
            }
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("SifreDegistir", "Admin")">Şifre Değiştir</a></li>
                    <li><a href="/login/cikis/"><span class="glyphicon glyphicon-log-out"></span>Çıkış Yap</a></li>
                }
                else
                {
                    <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Admin Girişi</a></li>
                }
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>