﻿@model TelefonRehberi.Models.Login

@{
    ViewBag.Title = "Admin Girişi";
}



@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Admin Giriş Sayfası</h2>
            <h4>Bilgilerinizi Giriniz</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @if (string.IsNullOrEmpty(ViewBag.Message) == false)
            {
                <div class="alert alert-danger" role="alert">@ViewBag.Message</div>
            }

            <div class="form-group">
                <label class="control-label col-md-4">Kullanıcı Adı</label>

                <div class="col-md-8">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Şifre</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Giriş Yap" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>


    </div>
}

