﻿@model TelefonRehberi.Models.Departman

@{
    ViewBag.Title = "Departman Ekle";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Departman Ekle</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @if (string.IsNullOrEmpty(ViewBag.Message) == false)
            {
                <div class="alert alert-danger" role="alert">@ViewBag.Message</div>
            }

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmanAdi, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DepartmanAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DepartmanAdi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Ekle" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<div>
   <i class="glyphicon glyphicon-arrow-left"></i> @Html.ActionLink("Departman Listesine Git", "DepartmanListesi")
</div>
