﻿@model IEnumerable<TelefonRehberi.Models.Departman>

@{
    ViewBag.Title = "DepartmanListesi";
}

<h2>Departman Listesi</h2>

<p>
    <a href="/Admin/DepartmanEkle/" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Yeni Departman Ekle
    </a>
</p>
<br />

<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <tr>
            <th>
                Departman Adı
            </th>
            <th>İşlemler</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmanAdi)
                </td>
                <td>
                    <a href="@Url.Action("DepartmanGuncelle","Admin", new { id=item.Id  })" role="button" class="btn btn-primary">Güncelle</a>
                    <a href="@Url.Action("DepartmanDetay", "Admin", new { id = item.Id })" role="button" class="btn btn-warning">Detay Görüntüle</a>
                    <a href="@Url.Action("DepartmanSil", "Admin", new { id = item.Id })" role="button" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }

    </table>
</div>


