﻿@model TelefonRehberi.Models.Personel

@{
    ViewBag.Title = "Personel Ekle";
}

<h2>Yeni Personel Ekle</h2>

@using (Html.BeginForm("PersonelEkle", "Admin", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4>Personel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-4">Personel Adı</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PersonelAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonelAdi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Personel Soyadı</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PersonelSoyadi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonelSoyadi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Telefon Numarası</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.PersonelTelefonNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonelTelefonNo, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Dahili, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dahili, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Email</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Lokasyon</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Lokasyon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lokasyon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Firma</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Firma, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Firma, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Departman</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.DepartmanID, new SelectList(ViewBag.Departmanlar, "Id", "DepartmanAdi"), "Departman Seçiniz", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DepartmanID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Yönetici</label>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.YoneticiID, new SelectList(ViewBag.Personeller, "Key", "Value"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.YoneticiID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Ekle" class="btn btn-primary" />
                </div>
            </div>
            <div>
                @if (string.IsNullOrEmpty(ViewBag.Message) == null)
                {
                    <div class="alert alert-danger" role="alert">@ViewBag.Message</div>
                }
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
}

<div>
    @Html.ActionLink("Personel Listesine Git", "PersonelListele")
</div>
