﻿@model TelefonRehberi.ViewModels.PersonelVM

@{
    ViewBag.Title = "Personel Sil";

}

<h2>Personel Sil</h2>


<div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h3>Personeli Silmek İstediğinize Emin Misiniz?</h3>
        <div class="form-actions no-color">
            <input type="submit" value="Personeli Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Dön", "PersonelListele")
        </div>
        <br />
        <br />
        if (string.IsNullOrEmpty(ViewBag.Message) == false)
        {
            <div class="alert alert-danger" role="alert">@ViewBag.Message</div>
        }
    }
</div>
