﻿@model IEnumerable<TelefonRehberi.Models.Personel>

@{
    ViewBag.Title = "Personel Listele";

}

<script src="~/Content/JS/angular.min.js"></script>

<h2>Personel Listesi <small>Aşağıdaki Kriterlere Göre Filtreleme Yapabilirsiniz</small></h2>
<p>
    <a href="/Admin/PersonelEkle/" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Yeni Personel Oluştur
    </a>  
</p>
<hr />
<div ng-app="myApp" ng-controller="myControllerPersonel">

    <div class="row">
        <div class="col-md-3">
            <div class="control-label col-md-4">
                <i class="glyphicon glyphicon-filter"></i>   Ad:
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" name="ad" ng-model="ad" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="control-label col-md-4">
                Soyad:
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" name="soyad" ng-model="soyad" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="control-label col-md-4">
                Lokasyon:
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" name="lokasyon" ng-model="lokasyon" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="control-label col-md-4">
                Departman:
            </div>
            <div class="col-md-8">
                <select class="form-control" ng-model="departman">
                    <option></option>
                    <option ng-repeat="d in departmanList">{{d.DepartmanAdi}}</option>
                </select>
            </div>
        </div>
    </div>

    <hr />
    <br />
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <tr>
                <th>
                    Personel Adı
                </th>
                <th>
                    Personel Soyadı
                </th>
                <th>
                    Telefon
                </th>

                <th>
                    Dahili
                </th>
                <th>
                    Email
                </th>

                <th>
                    Departman
                </th>

                <th>
                    Lokasyon
                </th>

                <th>İşlemler</th>
            </tr>
            <tr ng-repeat="personel in personelList | filter : {PersonelAdi: ad, PersonelSoyadi:soyad, Lokasyon: lokasyon, DepartmanAdi:departman}">
                <td>{{personel.PersonelAdi}}</td>
                <td>{{personel.PersonelSoyadi}}</td>
                <td>{{personel.PersonelTelefonNo}}</td>
                <td>({{personel.Dahili}})</td>
                <td>{{personel.Email}}</td>
                <td>{{personel.DepartmanAdi}}</td>
                <td>{{personel.Lokasyon}}</td>
                <td>
                    <a href="/Admin/PersonelGuncelle/{{personel.Id}}" role="button" class="btn btn-primary">Güncelle</a>
                    <a href="/Admin/PersonelDetay/{{personel.Id}}" role="button" class="btn btn-warning">Detay</a>
                    <a href="/Admin/PersonelSil/{{personel.Id}}" role="button" class="btn btn-danger">Sil</a>
                </td>
            </tr>
            @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PersonelAdi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PersonelSoyadi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PersonelTelefonNo)
                        </td>

                        <td>
                            <a href="@Url.Action("PersonelGuncelle","Admin", new { id=item.PersonelID  })" role="button" class="btn btn-primary">Güncelle</a>
                            <a href="@Url.Action( "PersonelDetay", "Admin", new { id = item.PersonelID })" role="button" class="btn btn-warning">Detay Görüntüle</a>
                            <a href="@Url.Action( "PersonelSil", "Admin", new { id = item.PersonelID })" role="button" class="btn btn-danger">Sil</a>
                        </td>
                    </tr>
                }*@

        </table>

    </div>
    </div>
 
<script src="~/Content/JS/getlistangular.js"></script>