﻿@model TelefonRehberi.ViewModels.LoginVM

@{
    ViewBag.Title = "SifreDegistir";

}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Şifre Değiştir</h2>
            <h4>Yeni Şifre Giriniz</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <label class="control-label col-md-4">Yeni Şifre</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Yeni Şifre Tekrar</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Değiştir" class="btn btn-warning" />
                    <br />
                    @ViewBag.Message
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
}

